$sidebar-background: #286efa;
$sign-up-button: #286efa;
$steps-size: 5px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;

  a {
    color: #286efa;
    font-weight: bold;
  }

  .main-content {
    width: 65%;
    padding: 40px;

    .steps {
      p {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-weight: bold;

        .steps-text {
          margin-right: 10px;
        }

        .steps-icon {
          display: inline-block;
          height: $steps-size;
          width: $steps-size;
          margin: auto 5px;
          background-color: rgba(0, 0, 0, 0.281);
          border-radius: 100%;
        }

        .steps-icon.active {
          background-color: #000;
        }
      }
    }

    .form-section {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .form-label {
        display: none;
      }

      #sign-up-form {
        max-width: 500px;
        display: flex;
        flex-direction: column;

        input,
        select {
          margin: 10px 0;
          padding: 15px 10px;
          border: 1px solid rgba(0, 0, 0, 0.089);
          border-radius: 5px;
        }

        select {
          cursor: pointer;
          color: rgba(0, 0, 0, 0.753);
        }

        .already-signed-up {
          padding: 50px 0;
        }
      }
    }
  }

  .sidebar-content {
    width: 35%;
  }
}
